Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

'Refactored by Sourcery'
  lightning/cli/migrations.py
Due: flake8, isort

Add support for .py migrations
  lightning/cli/migrations.py
Due: flake8, isort

Bump dependencies
  poetry.lock
Due: none

Add migration for incorrectly stored timer IDs
  migrations/0013_migrate_mutes.py
Due: isort, Test Migrations

Change file name to better reflect what the migration does
  migrations/0013_migrate_incorrect_timer_ids.py
Due: isort, Test Migrations

Typehint bot
  lightning/cogs/owner.py
Due: flake8, isort

Fix AttributeError with timeout events
  lightning/cogs/listeners/events.py
Due: flake8, isort

Bump dependencies
  poetry.lock
  pyproject.toml
Due: none

wip
  lightning/cogs/mod/cog.py
Due: flake8, isort

more wip
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add support for timeout commands & bump version
  lightning/cogs/mod/cog.py
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Add missing description for `untimeout`
  lightning/cogs/mod/cog.py
Due: flake8, isort

Check if the timeout can be applied
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix BannedMember converter
  lightning/cogs/mod/converters.py
Due: flake8, isort

Ignore docker-data folder
  .gitignore
Due: none

Add param descriptions
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Update sentry-sdk and discord.py
  poetry.lock
Due: none

Remove changing infraction status in tempban and tempmute
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update some dependencies
  poetry.lock
Due: none

Fix E721
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Add a notice when a message was deleted
  lightning/cogs/reports/ui.py
Due: flake8, isort

Update lru-dict
  poetry.lock
Due: none

Add support to filter infractions by action name
  lightning/cogs/infractions/cog.py
  lightning/cogs/infractions/converters.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Handle LightningCommandError
  lightning/bot.py
Due: flake8, isort

Have LightningCommandError subclass CommandError
  lightning/errors.py
Due: flake8, isort

Update setuptools
  poetry.lock
  pyproject.toml
Due: none

Update discord.py
  poetry.lock
Due: none

Actually make update-copyright work
  lightning/cli/tools.py
Due: flake8, isort

Update license header
  LICENSE.header
Due: none

Switch relative timestamps to discord timestamps and include the action name in `infraction list`
  lightning/cogs/infractions/ui.py
Due: flake8, isort

Remove set from when argument
  lightning/utils/time.py
Due: flake8, isort

Remove any extra whitespace
  lightning/utils/time.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update codacy badge
  README.md
Due: none

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
