Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Update discord.py
  poetry.lock
Due: none

Add missing migration file
  migrations/0001_initial.sql
  migrations/0006_column_renames.sql
Due: Test Migrations

Reword error message on command error
  lightning/bot.py
Due: flake8, isort

Remove `spotify`
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Undo storing command level in extras
  lightning/commands.py
Due: flake8, isort

Fix import error
  lightning/ui.py
Due: flake8, isort

Completely redo `inf list`
  lightning/cogs/infractions.py
Due: flake8, isort

Fix prefix lookup
  lightning/bot.py
Due: flake8, isort

Add Sentry.io Action
  .github/workflows/sentry.yml
Due: none

Add ignore_missing flag
  .github/workflows/sentry.yml
Due: none

Add funding link
  .github/FUNDING.yml
Due: none

Add setuptools and wheel as dependencies
  lightning/meta.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Handle UserInputError exception
  lightning/bot.py
Due: flake8, isort

Update git repository link
  lightning/cogs/info/bot_meta.py
  lightning/cogs/stats.py
Due: flake8, isort

Fix paginator not being ephemeral
  lightning/cogs/infractions.py
Due: flake8, isort

Fix uploading guild count to top.gg
  lightning/cogs/dbots.py
Due: flake8, isort

Fix updating stats on guild joins/leaves to bot lists
  lightning/cogs/dbots.py
Due: flake8, isort

Remove self hosting, invite, and features section
  README.md
Due: none

Assign level for config group command
  lightning/cogs/config/cog.py
Due: flake8, isort

Remove unused keys from example config
  example-config.toml
Due: none

Fix mod logs not including the reason
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix bot_tag emoji
  lightning/cogs/info/discord_meta.py
  lightning/constants.py
Due: flake8, isort

Bump to 4.0.1
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Fix `tempmute`, `mute`, & `tempban` KeyError bug
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix `ban` KeyError bug
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix member_count being None
  lightning/cogs/stats.py
Due: flake8, isort

Fix rest_attribute_name being ignored for flag commands
  lightning/flags.py
Due: flake8, isort

some typehints
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update license header for 2023
  LICENSE.header
Due: none

Update sentry-sdk
  poetry.lock
Due: none

Respect the --no-dm flag for timed mutes
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add guild_only decorator to hybrid config commands
  lightning/cogs/automod/cog.py
  lightning/cogs/modlog/cog.py
Due: flake8, isort

Add support for override, guild, and guilds kwargs
  lightning/bot.py
Due: flake8, isort

Add welcomer cog for certain servers
  lightning/cogs/ext/welcomer.py
  migrations/0007_welcomer.sql
Due: flake8, isort, Test Migrations

Use the AUDIT_LOG_ENTRY_CREATE event for kicks, bans, and unbans
  lightning/cogs/listeners/events.py
  lightning/events.py
  poetry.lock
Due: flake8, isort

Use create_paste method
  lightning/context.py
Due: flake8, isort

Fix spam notifications not sending
  lightning/bot.py
Due: flake8, isort

Add support for adding join messages
  lightning/cogs/ext/welcomer.py
Due: flake8, isort

Add Poetry installation test workflow
  .github/workflows/poetry.yml
Due: none

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
