Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Migrations:
  stage: Tests
  image: postgres:12
  services:
  - postgres:12
  before_script:
    - apt update && apt upgrade -y && apt install -y python3-dev libffi-dev python3-pip git
    - python3 -m pip install -U wheel
    - python3 -m pip install -U asyncpg migri==0.7.0
  script:
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - migri --db-name "tests" --db-user "$POSTGRES_USER" --db-pass "$POSTGRES_PASSWORD" --db-host "postgres" --dialect "postgresql" migrate
  rules:
    - changes:
      - migrations/*

Test Poetry:
  stage: Tests
  image: ubuntu:20.04
  before_script:
    - apt update && apt upgrade -y && apt install -y python3-dev zlib1g libffi-dev python3-pip git
    - python3 -m pip install -U wheel
    - python3 -m pip install poetry
    - poetry --version
    - poetry config virtualenvs.in-project true
  script:
    - poetry install -vv

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Ignore .idea/
  .gitignore
Due: none

Update deps
  poetry.lock
Due: none

Use jishaku master branch
  poetry.lock
  pyproject.toml
Due: none

Add ? to COMMON_HOIST_CHARACTERS
  lightning/cogs/mod.py
Due: flake8, isort

Update deps
  poetry.lock
  pyproject.toml
Due: none

Remove unused hooks
  .pre-commit-config.yaml
Due: none

Use the no-ansi flag for test poetry job
  .gitlab-ci.yml
Due: none

Update discord.py
  lightning/cogs/config/ui.py
  lightning/cogs/homebrew/ui.py
  lightning/utils/ui.py
  poetry.lock
Due: flake8, isort

Use Rapptz/discord.py and make adjustments for the new parameters
  lightning/cogs/config/cog.py
  lightning/cogs/fun.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/info/converters.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/mod.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Rename misc to utilities & cleanup
  lightning/cog.py
  lightning/cogs/help.py
  lightning/cogs/utilities.py
  lightning/utils/helpers.py
Due: flake8, isort

Fix relative datetimes not being tz aware
  lightning/utils/time.py
Due: flake8, isort

Remove Parser alias
  lightning/flags.py
Due: flake8, isort

Fix a few flag bugs
  lightning/flags.py
Due: flake8, isort

Remove quote aliases
  lightning/cogs/info/message.py
Due: flake8, isort

Fix Infractions cog
  lightning/cogs/infractions.py
Due: flake8, isort

Add `jsk objgraph`
  lightning/cogs/owner.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Update discord.py
  lightning/ui.py
  poetry.lock
Due: flake8, isort

Use regex for console versions
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Remove int method from CommandBug model
  lightning/cogs/owner.py
Due: flake8, isort

Persist PostgreSQL data
  Dockerfile
  docker-compose.yml
Due: none

Fix error message when defining a level
  lightning/commands.py
Due: flake8, isort

Minor refactor
  lightning/cogs/reminders.py
Due: flake8, isort

Update discord.py
  lightning/cogs/fun.py
  poetry.lock
Due: flake8, isort

Use discord.py[speed]
  poetry.lock
  pyproject.toml
Due: none

Typehint events plugin
  lightning/cogs/listeners/events.py
Due: flake8, isort

Remove set alias
  lightning/cogs/roles.py
Due: flake8, isort

Move hoist characters constant to its own file
  lightning/cogs/mod.py
  lightning/constants.py
Due: flake8, isort

Remove created property from Timer
  lightning/models.py
Due: flake8, isort

Add guard for adding roles with dangerous permissions
  lightning/cogs/roles.py
Due: flake8, isort

Add missing bot permission decorator
  lightning/cogs/roles/cog.py
Due: flake8, isort

Add dbots cog
  lightning/cogs/dbots.py
Due: flake8, isort

Replace aredis with aioredis
  lightning/cache.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Log when dbots isn't loaded
  lightning/cogs/dbots.py
Due: flake8, isort

Refactor start_redis_client
  lightning/cache.py
Due: flake8, isort

Add self-assignable role buttons
  lightning/cogs/roles/__init__.py
  lightning/cogs/roles/cog.py
  lightning/cogs/roles/ui.py
  migrations/0001_initial.sql
Due: flake8, isort, Test Migrations

Move Emoji over to constants, Remove ConfirmationMenu
  lightning/constants.py
  lightning/utils/helpers.py
Due: flake8, isort

Remove fun cog
  lightning/cogs/fun.py
Due: flake8, isort

Remove `settings`
  lightning/cogs/config/cog.py
Due: flake8, isort

Add RedisCooldown & AutoModCooldown
  lightning/cooldown.py
Due: flake8, isort

Rework automod to use redis for caching
  lightning/cogs/listeners/automod.py
Due: flake8, isort
