Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Update permissions in the invite
  README.md
Due: none

Remove `lolice` & `awooify`
  lightning/cogs/fun.py
Due: flake8, isort

Update discord.py
  poetry.lock
Due: none

Remove activities cog
  lightning/cogs/ext/activities.py
Due: flake8, isort

Use jishaku master branch
  poetry.lock
  pyproject.toml
Due: none

Update discord.py and do some refactoring
  lightning/__init__.py
  lightning/__main__.py
  lightning/bot.py
  lightning/cli/main.py
  lightning/cogs/api/__init__.py
  lightning/cogs/config/__init__.py
  lightning/cogs/emoji.py
  lightning/cogs/ext/git.py
  lightning/cogs/ext/switchy.py
  lightning/cogs/fun.py
  lightning/cogs/help.py
  lightning/cogs/homebrew/__init__.py
  lightning/cogs/info/__init__.py
  lightning/cogs/infractions.py
  lightning/cogs/listeners/automod.py
  lightning/cogs/listeners/events.py
  lightning/cogs/listeners/features.py
  lightning/cogs/listeners/modlog.py
  lightning/cogs/listeners/state.py
  lightning/cogs/memes.py
  lightning/cogs/misc.py
  lightning/cogs/mod.py
  lightning/cogs/owner.py
  lightning/cogs/reminders.py
  lightning/cogs/roles.py
  lightning/cogs/stats.py
  poetry.lock
Due: flake8, isort

Use sanctum for infractions
  lightning/cogs/infractions.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Remove GuildID converter
  lightning/converters.py
Due: flake8, isort

Add ? to COMMON_HOIST_CHARACTERS
  lightning/cogs/mod.py
Due: flake8, isort

Use the no-ansi flag for test poetry job
  .gitlab-ci.yml
Due: none

Update discord.py
  lightning/cogs/config/ui.py
  lightning/cogs/homebrew/ui.py
  lightning/utils/ui.py
  poetry.lock
Due: flake8, isort

Update deps
  poetry.lock
  pyproject.toml
Due: none

Fix a few flag bugs
  lightning/flags.py
Due: flake8, isort

Remove unused hooks
  .pre-commit-config.yaml
Due: none

Update deps
  poetry.lock
Due: none

Use Rapptz/discord.py and make adjustments for the new parameters
  lightning/cogs/config/cog.py
  lightning/cogs/fun.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/info/converters.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/mod.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Persist PostgreSQL data
  Dockerfile
  docker-compose.yml
Due: none

Remove quote aliases
  lightning/cogs/info/message.py
Due: flake8, isort

Remove Parser alias
  lightning/flags.py
Due: flake8, isort

Fix relative datetimes not being tz aware
  lightning/utils/time.py
Due: flake8, isort

Rename misc to utilities & cleanup
  lightning/cog.py
  lightning/cogs/help.py
  lightning/cogs/utilities.py
  lightning/utils/helpers.py
Due: flake8, isort

Use regex for console versions
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Fix Infractions cog
  lightning/cogs/infractions.py
Due: flake8, isort

Update discord.py
  lightning/cogs/fun.py
  poetry.lock
Due: flake8, isort

Add `jsk objgraph`
  lightning/cogs/owner.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Remove created property from Timer
  lightning/models.py
Due: flake8, isort

Remove int method from CommandBug model
  lightning/cogs/owner.py
Due: flake8, isort

Minor refactor
  lightning/cogs/reminders.py
Due: flake8, isort

Fix error message when defining a level
  lightning/commands.py
Due: flake8, isort

Use discord.py[speed]
  poetry.lock
  pyproject.toml
Due: none

Update discord.py
  lightning/ui.py
  poetry.lock
Due: flake8, isort

Move hoist characters constant to its own file
  lightning/cogs/mod.py
  lightning/constants.py
Due: flake8, isort

Remove set alias
  lightning/cogs/roles.py
Due: flake8, isort

Typehint events plugin
  lightning/cogs/listeners/events.py
Due: flake8, isort

Add dbots cog
  lightning/cogs/dbots.py
Due: flake8, isort

Add guard for adding roles with dangerous permissions
  lightning/cogs/roles.py
Due: flake8, isort

Add self-assignable role buttons
  lightning/cogs/roles/__init__.py
  lightning/cogs/roles/cog.py
  lightning/cogs/roles/ui.py
  migrations/0001_initial.sql
Due: flake8, isort, Test Migrations

Add missing bot permission decorator
  lightning/cogs/roles/cog.py
Due: flake8, isort

Use attachment converter for `config automod upload`
  lightning/cogs/config/cog.py
Due: flake8, isort

Move Emoji over to constants, Remove ConfirmationMenu
  lightning/constants.py
  lightning/utils/helpers.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
