Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

more wip
  lightning/cogs/automod/models.py
Due: flake8, isort

more wip
  lightning/cogs/automod/ui.py
Due: flake8, isort

more wip
  lightning/cogs/automod/cog.py
Due: flake8, isort

more wip
  lightning/cogs/gatekeeper/__init__.py
  lightning/cogs/gatekeeper/cog.py
  lightning/cogs/gatekeeper/models.py
  lightning/cogs/gatekeeper/ui.py
Due: flake8, isort

more wip
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/ui.py
Due: flake8, isort

more wip
  lightning/cogs/automod/models.py
  lightning/cogs/automod/ui.py
Due: flake8, isort

Add `bandel` command
  lightning/cogs/mod/cog.py
Due: flake8, isort

wip
  lightning/cogs/gatekeeper/__init__.py
  lightning/cogs/gatekeeper/cog.py
  lightning/cogs/gatekeeper/models.py
  lightning/cogs/gatekeeper/ui.py
  migrations/0014_gatekeeper.sql
Due: flake8, isort, Test Migrations

more wip
  lightning/cogs/automod/models.py
  migrations/0014_gatekeeper.sql
Due: flake8, isort, Test Migrations

more wip
  lightning/ui.py
Due: flake8, isort

more wip
  migrations/0014_gatekeeper.sql
Due: Test Migrations

more wip
  lightning/ui.py
  lightning/utils/ui.py
Due: flake8, isort

more wip
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
  lightning/context.py
Due: flake8, isort

Add a welcome message to new servers
  lightning/cogs/info/bot_meta.py
  lightning/config.py
Due: flake8, isort

Add Gatekeeper feature
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
  lightning/cogs/automod/ui.py
  lightning/context.py
  lightning/ui.py
  lightning/utils/ui.py
  migrations/0014_gatekeeper.sql
Due: flake8, isort, Test Migrations

Depend on a role_id condition for the gatekeeper loop
  lightning/cogs/automod/models.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none
