Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Fix temporary action expired mod logging not being sent
  lightning/cogs/modlog/cog.py
Due: flake8, isort

Chunk the guild if it isn't
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Send deletion confirmation message as an ephemeral if possible
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Update sentry-sdk
  poetry.lock
Due: none

Use a special source for /mywarns
  lightning/cogs/infractions.py
Due: flake8, isort

Fix TypeError when trying to export infractions
  lightning/cogs/infractions.py
Due: flake8, isort

Wrap permission setting in a try/except
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add `infraction stats`
  lightning/cogs/infractions.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Use a legend instead of labels
  lightning/cogs/infractions.py
Due: flake8, isort

Remove ext.menus.views
  lightning/cogs/api/__init__.py
  lightning/cogs/api/cog.py
  lightning/utils/paginator.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Add a delete button to `remind edit`
  lightning/cogs/reminders/ui.py
Due: flake8, isort

Bump to 4.1.0
  lightning/meta.py
Due: flake8, isort

Update uvloop, use platform instead of optional
  poetry.lock
  pyproject.toml
Due: none

Update `mod ds` & `mod dsi`
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update dependencies
  lightning/bot.py
  lightning/cache.py
  lightning/cli/main.py
  lightning/cogs/infractions.py
  lightning/cooldown.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Fix aioredis import
  lightning/cogs/automod/models.py
  poetry.lock
Due: flake8, isort

Add silent kwarg to context
  lightning/context.py
Due: flake8, isort

Handle app_commands.MissingPermissions
  lightning/bot.py
Due: flake8, isort

'Refactored by Sourcery'
  lightning/bot.py
  lightning/cache.py
  lightning/cli/migrations.py
  lightning/cli/tools.py
  lightning/cogs/api/cog.py
  lightning/cogs/api/menus.py
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
  lightning/cogs/config/cog.py
  lightning/cogs/emoji.py
  lightning/cogs/help.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/homebrew/ui.py
  lightning/cogs/info/converters.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/mod/cog.py
  lightning/cogs/modlog/cog.py
  lightning/cogs/modlog/ui.py
  lightning/cogs/owner.py
  lightning/cogs/reminders/cog.py
  lightning/cogs/stats.py
  lightning/cogs/utilities.py
  lightning/commands.py
  lightning/context.py
  lightning/converters.py
  lightning/flags.py
  lightning/formatters.py
  lightning/models.py
  lightning/ui.py
  lightning/utils/checks.py
  lightning/utils/emitters.py
  lightning/utils/helpers.py
  lightning/utils/modlogformats.py
  lightning/utils/paginator.py
  lightning/utils/time.py
  resources/v3-migrations/20210622_01_U0aRl-3-2-0.py
Due: flake8, isort

Add Codacy badge back
  README.md
Due: none

Update autopep8 for pre-commit
  .pre-commit-config.yaml
Due: none

Add dependabot configuration
  .github/dependabot.yml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

typehints
  lightning/cogs/emoji.py
Due: flake8, isort

Remove `exit` command
  lightning/cogs/owner.py
Due: flake8, isort

Show when the app was last updated
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Add a show prereleases button to `udb`
  lightning/cogs/homebrew/cog.py
  lightning/cogs/homebrew/ui.py
Due: flake8, isort

Add ephemeral kwarg to Paginator.start
  lightning/utils/paginator.py
Due: flake8, isort

List up to 25 reminders
  lightning/cogs/reminders/cog.py
  lightning/cogs/reminders/ui.py
Due: flake8, isort

Default to False for ephemeral
  lightning/utils/paginator.py
Due: flake8, isort

Remove EphemeralInfractionPaginator
  lightning/cogs/infractions.py
Due: flake8, isort

Fix reason sometimes being None
  lightning/cogs/mod/cog.py
Due: flake8, isort

Change image url for the api
  docker-compose.yml
Due: none

Remove a bunch of unused files
  resources/fonts/Heebo-Regular.ttf
  resources/fonts/Montserrat-Regular.ttf
  resources/templates/fujiwara-iq.png
  resources/templates/fyi.png
  resources/templates/inthehead.png
  resources/templates/kurisudraw.png
  resources/v2tov3.sql
  resources/v3-migrations/20210128_01_dkC4d-initial.sql
  resources/v3-migrations/20210609_01_YXSjP-3-2-0.sql
  resources/v3-migrations/20210622_01_U0aRl-3-2-0.py
  resources/v3-migrations/20211013_01_343eu-3-3-0.sql
  resources/v3-migrations/20220307_01_pfcuE-4-0-0.sql
Due: isort

Remove comment and variable
  lightning/bot.py
  lightning/cogs/homebrew/ui.py
Due: flake8, isort

Comment out our feed uploader
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update some copyright years
  lightning/cog.py
  lightning/cogs/help.py
  lightning/cogs/stats.py
  lightning/cogs/utilities.py
  lightning/commands.py
  lightning/config.py
  lightning/converters.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
