Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Add a production use docker compose config
  docker-compose-prod.yml
Due: none

Add Migration test workflow
  .github/workflows/migratory.yml
Due: none

Copy example config for migration tests
  .github/workflows/migratory.yml
Due: none

space
  .github/workflows/migratory.yml
Due: none

A few fixes to the migration script
  .github/workflows/migratory.yml
  lightning/cli/migrations.py
Due: flake8, isort

more fixes
  .github/workflows/migratory.yml
Due: none

Update example config for docker usage
  example-config.toml
Due: none

Finally remove GitLab CI
  .gitlab-ci.yml
Due: none

Only test migrations when something changed
  .github/workflows/migratory.yml
Due: none

Use slim-bookworm instead of buster
  Dockerfile
Due: none

Update discord.py
  poetry.lock
Due: none

Add CodeQL workflow
  .github/workflows/codeql.yml
Due: none

Add `delwarn`
  lightning/cogs/infractions/cog.py
Due: flake8, isort

Remove None
  lightning/cogs/utilities.py
Due: flake8, isort

Stop running gatekeepers on cog_unload
  lightning/cogs/automod/cog.py
Due: flake8, isort

Add color to the `inf view` embed
  lightning/cogs/infractions/cog.py
Due: flake8, isort

Actually disable inf export
  lightning/cogs/infractions/cog.py
Due: flake8, isort

Remove `browsecrates`
  lightning/cogs/api/cog.py
  lightning/cogs/api/menus.py
  lightning/cogs/api/models.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update command documentation builder
  lightning/cli/tools.py
Due: flake8, isort

Update onboarding message
  lightning/cogs/info/bot_meta.py
Due: flake8, isort

Add premium check
  lightning/utils/checks.py
Due: flake8, isort

Fix mod command signatures
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update cog descriptions
  lightning/cogs/automod/cog.py
  lightning/cogs/config/cog.py
  lightning/cogs/modlog/cog.py
Due: flake8, isort

Fix BanFlags
  lightning/cogs/mod/flags.py
Due: flake8, isort

Fix AttributeError when using `massban`
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add .DS_Store to .gitignore
  .gitignore
Due: none

wip
  migrations/0017_initial_premium.sql
Due: Test Migrations

Additionally filter group children
  lightning/cogs/help.py
Due: flake8, isort

Add guild and user counts as cached values for web
  lightning/cogs/prometheus.py
Due: flake8, isort

Use TargetMember converter for `untimeout`
  lightning/cogs/mod/cog.py
  poetry.lock
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Remove pomelo check
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix nick comparison
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add sanitize member method
  lightning/cogs/automod/cog.py
  lightning/cogs/mod/cog.py
Due: flake8, isort

Remove nick check
  lightning/cogs/mod/cog.py
Due: flake8, isort

Hopefully fix sanitization
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update orjson
  poetry.lock
Due: none

more wip
  migrations/0017_initial_premium.sql
Due: Test Migrations
