Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

utils: Add a confirmation view
  lightning/utils/views.py
Due: flake8, isort

views: Set clear_view_after to True by default
  lightning/views.py
Due: flake8, isort

cogs.config: Replace config logging's menus to bot kit ui
  lightning/cogs/config.py
Due: flake8, isort

cogs.mod: Change behavior of timed ban/mute complete to stop fetching moderators
  lightning/cogs/mod.py
Due: flake8, isort

flags: Allow a default to be set for boolean flags
  lightning/flags.py
Due: flake8, isort

views: Adjust MenuLikeView docstring
  lightning/views.py
Due: flake8, isort

cogs.mod: Add method to retrieve a user's warn count, actually handle warn punishments
  lightning/cogs/mod.py
Due: flake8, isort

database: Move v2 to v3 script to resources, move schema.sql to migrations
  migrations/20210128_01_dkC4d-initial.sql
  migrations/20210609_01_YXSjP-3-2-0.sql
  migrations/20210622_01_U0aRl-3-2-0.py
  resources/v2tov3.sql
Due: isort, Test Migrations

deps: Update sentry-sdk
  poetry.lock
  pyproject.toml
Due: none

converters: Fix channel converters 2
  lightning/converters.py
Due: flake8, isort

cogs.misc: Forgot a return
  lightning/cogs/misc.py
Due: flake8, isort

utils.helpers: Fix webhook_send for d.py 2.0.0 changes
  lightning/utils/helpers.py
Due: flake8, isort

utils.helpers: Fix docstring for haste
  lightning/utils/helpers.py
Due: flake8, isort

cogs.config: Change style for logging setup buttons & fixes
  lightning/cogs/config.py
Due: flake8, isort

ci: Adjust migration tests job
  .gitlab-ci.yml
  tests/original_schema.sql
Due: none

cogs.meta: Fix common_command_formatting method
  lightning/cogs/meta.py
Due: flake8, isort

converters: Fix channel converters for dpy 2.0.0 changes
  lightning/converters.py
Due: flake8, isort

utils.helpers: Refactor & add reverse kwarg to archive_messages
  lightning/utils/helpers.py
Due: flake8, isort

Refactor _check_level ids
  lightning/commands.py
Due: flake8, isort

Rename views to ui
  lightning/__init__.py
  lightning/context.py
  lightning/ui.py
  lightning/utils/ui.py
Due: flake8, isort

deps: Remove attrs as a main dependency
  poetry.lock
  pyproject.toml
Due: none

ci: Fix migrations job
  .gitlab-ci.yml
Due: none

ci: Remove database creation test job, install current directory for migrations
  .gitlab-ci.yml
Due: none

Refactor adjust_level method, Allow roles to be added to levels, Add blame method to LevelConfig
  lightning/cogs/config.py
  lightning/models.py
Due: flake8, isort

database: Add migrations for guild permissions
  migrations/20210622_01_U0aRl-3-2-0.py
Due: isort, Test Migrations

Add flags to __init__
  lightning/__init__.py
  lightning/flags.py
Due: flake8, isort

ci: Use poetry instead for migrations job
  .gitlab-ci.yml
Due: none

Add snowflake converters & `archive custom` command
  lightning/cogs/misc.py
  lightning/converters.py
Due: flake8, isort

flags: Fix signature
  lightning/flags.py
Due: flake8, isort

Adjust LevelConfig model for permission changes
  lightning/models.py
Due: flake8, isort

flags: Raise TypeError instead, fix docstring for Flag
  lightning/flags.py
Due: flake8, isort

Add LightningContext.confirm, Mark LightningContext.prompt as deprecated
  lightning/cogs/infractions.py
  lightning/context.py
Due: flake8, isort

enums: Add __str__ method to BaseFlags
  lightning/enums.py
Due: flake8, isort

Adjust `userinfo` docstring
  lightning/cogs/meta.py
Due: flake8, isort

cogs.meta: Refactor common_command_formatting
  lightning/cogs/meta.py
Due: flake8, isort

mod: Add another condition to prevent errors
  lightning/cogs/mod.py
Due: flake8, isort

cog: Update header
  lightning/cog.py
Due: flake8, isort

Add git_repo_url config key
  example-config.toml
  lightning/cogs/meta.py
Due: flake8, isort

Update headers
  lightning/bot.py
  lightning/cogs/roles.py
  lightning/formatters.py
Due: flake8, isort

cogs.misc: Add `--user` & `--ignore-bots` flags to `archive custom`
  lightning/cogs/misc.py
Due: flake8, isort
