Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Remove image gen commands that were ported over to Thunder
  lightning/cogs/fun.py
Due: flake8, isort

Restructure config cog
  lightning/cogs/config/__init__.py
  lightning/cogs/config/cog.py
  lightning/cogs/config/ui.py
Due: flake8, isort

Restructure Meta cog
  lightning/cogs/help.py
  lightning/cogs/info/__init__.py
  lightning/cogs/info/bot_meta.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/info/message.py
  lightning/cogs/meta.py
  lightning/cogs/stats.py
Due: flake8, isort

Use discord timestamps for temp actions
  lightning/cogs/mod.py
Due: flake8, isort

Restructure homebrew cog & adjust cog loader
  lightning/bot.py
  lightning/cogs/homebrew/__init__.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/homebrew/ui.py
Due: flake8, isort

Support multiple activities in `userinfo`
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Use original repo for discord.ext.menus.views
  poetry.lock
  pyproject.toml
Due: none

Add some typing to modlog cog
  lightning/cogs/listeners/modlog.py
Due: flake8, isort

Add some typing to events
  lightning/events.py
Due: flake8, isort

Remove Message converter
  lightning/converters.py
Due: flake8, isort

Add some typings to models
  lightning/models.py
Due: flake8, isort

Move Message converter to its own file
  lightning/cogs/info/converters.py
  lightning/cogs/info/message.py
Due: flake8, isort

Update deps
  poetry.lock
  pyproject.toml
Due: none

Fix plugin loading
  lightning/bot.py
Due: flake8, isort

Remove temp mute role, add migration for v4
  lightning/cogs/config/cog.py
  lightning/models.py
  migrations/20220307_01_pfcuE-4-0-0.sql
Due: flake8, isort, Test Migrations

Fix embeds showing 1 of 0 and such
  lightning/cogs/help.py
Due: flake8, isort

Stop ninupdates loop gracefully
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Add `stats recent`
  lightning/cogs/stats.py
Due: flake8, isort

Refactor API cog
  lightning/cogs/api.py
  lightning/cogs/api/__init__.py
  lightning/cogs/api/cog.py
  lightning/cogs/api/menus.py
  lightning/cogs/api/models.py
Due: flake8, isort

Use sanctum for some state methods
  lightning/cogs/listeners/state.py
Due: flake8, isort

Remove SessionMenu
  lightning/utils/paginator.py
Due: flake8, isort

Use discord timestamp markdown for `blacklightning`
  lightning/cogs/api/cog.py
Due: flake8, isort

Fix memes for new dpy changes, add some typings
  lightning/cogs/memes.py
Due: flake8, isort

Fix CI for migration testing
  .gitlab-ci.yml
Due: none

Add moderate_members to DANGEROUS_PERMISSIONS
  lightning/cogs/roles.py
Due: flake8, isort

Replace yoyo-migrations with migri
  migrations/0001_initial.sql
  poetry.lock
  pyproject.toml
  resources/v3-migrations/20210128_01_dkC4d-initial.sql
  resources/v3-migrations/20210609_01_YXSjP-3-2-0.sql
  resources/v3-migrations/20210622_01_U0aRl-3-2-0.py
  resources/v3-migrations/20211013_01_343eu-3-3-0.sql
  resources/v3-migrations/20220307_01_pfcuE-4-0-0.sql
Due: isort, Test Migrations

Only import LightningContext if type checking
  lightning/cogs/api/cog.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/info/bot_meta.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/info/message.py
Due: flake8, isort

Install wheel before poetry
  .gitlab-ci.yml
Due: none

Update discord.py
  poetry.lock
Due: none

Update uvloop
  poetry.lock
  pyproject.toml
Due: none

Use postgres 14, rename venv folder
  docker-compose.yml
Due: none

Add db-host flag
  .gitlab-ci.yml
Due: none

Remove optional dependency migra
  poetry.lock
  pyproject.toml
Due: none

Add new poetry test job, adjust migration testing for new changes
  .gitlab-ci.yml
Due: none

Fix command to run migri
  .gitlab-ci.yml
Due: none

Improve docker usage
  Dockerfile
  docker-compose.yml
  lightning/cli/main.py
Due: flake8, isort

Ignore .idea/
  .gitignore
Due: none

Clear any existing loggers before setting up logging
  lightning/cli/main.py
Due: flake8, isort

Update deps
  poetry.lock
Due: none

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
