Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

more wip
  migrations/0017_initial_premium.sql
Due: Test Migrations

Update dependencies
  poetry.lock
Due: none

Add hybrids for `ban` & `kick`
  lightning/cogs/mod/cog.py
Due: flake8, isort

Remove unneeded param describes
  lightning/cogs/mod/cog.py
Due: flake8, isort

Use clean_prefix instead of prefix
  lightning/bot.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Make config group a hybrid, Make commandoverrides separate
  lightning/cogs/config/cog.py
Due: flake8, isort

Add guild_only decorators to ban & kick
  lightning/cogs/mod/cog.py
Due: flake8, isort

Downgrade numpy to v1
  poetry.lock
  pyproject.toml
Due: none

Add guild_only decorator for config hybrids
  lightning/cogs/config/cog.py
Due: flake8, isort

Allow /avatar to be used in user installs
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Allow /qr to be used in user installs
  lightning/cogs/api/cog.py
Due: flake8, isort

Use an ephemeral message for /normalize
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add missing guild_only decorator to /timeout
  lightning/cogs/mod/cog.py
Due: flake8, isort

Fix `udb` for the new api changes
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Add url to udb embed
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Allow for 31 days poll duration
  lightning/cogs/utilities.py
Due: flake8, isort

Update tomlkit
  poetry.lock
  pyproject.toml
Due: none

Remove noqa comment
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Allow userinfo to be used in User Apps
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Use Subtext for page numbers in help
  lightning/cogs/help.py
Due: flake8, isort

Fix autorole configuration if no configuration exists
  lightning/cogs/config/ui.py
  poetry.lock
Due: flake8, isort

Use an isinstance check for displaying roles in userinfo
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Hopefully fix commands dealing with timezones
  lightning/utils/time.py
Due: flake8, isort

Update discord.py
  poetry.lock
Due: none

Update some dependencies
  poetry.lock
Due: none

Add other samples to antiscam tests
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Use a range for question argument
  lightning/cogs/utilities.py
Due: flake8, isort

Add Role State commands
  lightning/cogs/roles/cog.py
  lightning/cogs/roles/menus.py
Due: flake8, isort

Add minor changes to is_premium_guild check
  lightning/utils/checks.py
Due: flake8, isort

Add new server to welcomer whitelist
  lightning/cogs/ext/welcomer.py
Due: flake8, isort

Don't start a paginator if it's unnecessary
  lightning/cogs/roles/cog.py
Due: flake8, isort

Add archive flag to `purge`
  lightning/cogs/mod/cog.py
  lightning/cogs/mod/flags.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
