Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Migrations:
  stage: Tests
  image: postgres:12
  services:
  - postgres:12
  before_script:
    - apt update && apt upgrade -y && apt install -y python3-dev libffi-dev python3-pip git
    - python3 -m pip install -U wheel
    - python3 -m pip install -U asyncpg migri==0.7.0
  script:
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - migri --db-name "tests" --db-user "$POSTGRES_USER" --db-pass "$POSTGRES_PASSWORD" --db-host "postgres" --dialect "postgresql" migrate
  rules:
    - changes:
      - migrations/*

Test Poetry:
  stage: Tests
  image: ubuntu:20.04
  before_script:
    - apt update && apt upgrade -y && apt install -y python3-dev zlib1g libffi-dev python3-pip git
    - python3 -m pip install -U wheel
    - python3 -m pip install poetry
    - poetry --version
    - poetry config virtualenvs.in-project true
  script:
    - poetry install -vv

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Update typer
  poetry.lock
  pyproject.toml
Due: none

Remove guild cli commands
  lightning/cli/guild.py
  lightning/cli/main.py
Due: flake8, isort

Use our own migration system
  .gitignore
  lightning/cli/main.py
  lightning/cli/migrations.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Add update-copyright CLI command
  lightning/cli/tools.py
Due: flake8, isort

Add missing columns
  migrations/0001_initial.sql
  migrations/0002_temp_mute_role.sql
Due: Test Migrations

Adjust docker-run command for new migration changes
  lightning/cli/main.py
  lightning/cli/migrations.py
Due: flake8, isort

Sort child commands
  lightning/cogs/help.py
Due: flake8, isort

Add some typehints
  lightning/cooldown.py
  lightning/utils/time.py
Due: flake8, isort

Refactor the configuration cog
  lightning/cogs/config/cog.py
  lightning/cogs/config/converters.py
  lightning/cogs/config/ui.py
Due: flake8, isort

Add AutoMod constants
  lightning/constants.py
Due: flake8, isort

Update Dockerfile for poetry changes
  Dockerfile
Due: none

Add IF EXISTS clause
  migrations/0002_temp_mute_role.sql
Due: Test Migrations

Update sanctum-tc
  poetry.lock
  pyproject.toml
Due: none

Add incr_amount kwarg to AutoModCooldown
  lightning/cooldown.py
Due: flake8, isort

Use Literal instead of convert_to_level
  lightning/cogs/config/cog.py
Due: flake8, isort

Handle BadLiteralArgument
  lightning/bot.py
Due: flake8, isort

Remove unused converters
  lightning/converters.py
Due: flake8, isort

Rework AutoMod to support the new configuration
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Add AutoMod models
  lightning/models.py
Due: flake8, isort

Add AutoModPunishmentType enum
  lightning/enums.py
Due: flake8, isort

Invalidate AutoMod cache as needed
  lightning/cogs/config/cog.py
Due: flake8, isort

Add `config automod ignored`
  lightning/cogs/config/cog.py
  lightning/cogs/config/ui.py
  lightning/ui.py
Due: flake8, isort

Remove deleted IDs from default ignores
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Ignore default pycharm backup folder name
  .gitignore
Due: none

Add automod migration
  migrations/0004_automod.sql
Due: Test Migrations

Move BannedMember converter to the Moderation plugin
  lightning/cogs/mod/cog.py
  lightning/cogs/mod/converters.py
Due: flake8, isort

Remove BannedMember converter from converters.py
  lightning/converters.py
Due: flake8, isort

Add missing mute punishment
  lightning/cogs/config/ui.py
Due: flake8, isort

Typehints
  lightning/cogs/listeners/events.py
  lightning/cogs/listeners/modlog.py
  lightning/config.py
  lightning/utils/emitters.py
Due: flake8, isort

Remove `emoji list`
  lightning/cogs/emoji.py
Due: flake8, isort

Remove ban_list variable
  lightning/cogs/mod/converters.py
Due: flake8, isort

Add duration support to rule configuration
  lightning/cogs/config/cog.py
Due: flake8, isort

Remove `selfrole` alias
  lightning/cogs/roles/cog.py
Due: flake8, isort

Ignore system content, bots, and members with a higher role from AutoMod
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Use a more friendly reason for AutoMod triggers
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Add discord-debug logs to gitignore
  .gitignore
Due: none

Remove deleted threads from AutoMod ignores
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Remove unused exception classes
  lightning/errors.py
Due: flake8, isort

Remove ctx.prompt & rename BetterUserObject to UserObject
  lightning/cogs/config/cog.py
  lightning/cogs/reminders/cog.py
  lightning/context.py
  lightning/utils/helpers.py
Due: flake8, isort

Remove feature flags
  lightning/cogs/config/cog.py
  lightning/cogs/listeners/features.py
Due: flake8, isort
