Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Update dependencies
  poetry.lock
Due: none

Add invite name detection to AntiScam
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Transform invites with the guild's name
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Add basic tests for AntiScam
  tests/test_antiscam.py
Due: isort

Require python 3.10+
  .github/workflows/poetry.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

Add UpdateableLayoutView & some bases for views to build on.
  lightning/ui.py
Due: flake8, isort

Reorder MRO for BaseView
  lightning/ui.py
Due: flake8, isort

Add "nsfw" to spam terms & penalize harsher
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Add "nsfw" to malicious terms
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Migrate modlog setup ui to components v2
  lightning/cogs/modlog/cog.py
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Defer warn response
  lightning/cogs/mod/cog.py
Due: flake8, isort

Change placeholder text for `modlog` ui
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Update typehint for view kwarg
  lightning/context.py
Due: flake8, isort

Fix typing for `kick` and `timemute`
  lightning/cogs/mod/cog.py
Due: flake8, isort

Hide `nintendoupdatealerts` command
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Change successful report message
  lightning/cogs/reports/cog.py
Due: flake8, isort

Change user flag to accept a User object, not an upgraded Member object
  lightning/cogs/mod/flags.py
Due: flake8, isort

Update dependencies with security vulns
  poetry.lock
  pyproject.toml
Due: none

Small fix
  pyproject.toml
Due: none

Automatically mark the report as actioned against if the message was deleted
  lightning/cogs/reports/ui.py
Due: flake8, isort

Fix lock file
  poetry.lock
Due: none

Automatically update the view when the report was actioned against manually
  lightning/cogs/reports/ui.py
Due: flake8, isort

Make reminder responses friendlier
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Migrate from poetry to uv
  .github/workflows/migratory.yml
  .github/workflows/tests.yml
  .github/workflows/uv.yml
  Dockerfile
  docker-compose-prod.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Refactor the state listener cog
  lightning/cogs/listeners/state.py
Due: flake8, isort

Remove bug command if Sentry is active
  lightning/cogs/owner.py
Due: flake8, isort

Enhance anti-scam detection with emoji analysis and first message penalties
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Add interactive setup for AutoMod rules
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
  lightning/cogs/automod/ui.py
Due: flake8, isort

Prevent reporting of system messages in the report command
  lightning/cogs/reports/cog.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
