Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Update spacy
  poetry.lock
  pyproject.toml
Due: none

Fix dependencies list
  poetry.lock
  pyproject.toml
Due: none

Remove `faq` command
  lightning/cogs/api/cog.py
Due: flake8, isort

Update spacy
  poetry.lock
Due: none

Add some url buttons to onboarding
  lightning/cogs/info/bot_meta.py
Due: flake8, isort

Check for spelling variations in antiscam
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Performance tweaks to antiscam detection
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Bump the limit to 7 days
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Only perform actions if a message exists
  lightning/ui.py
Due: flake8, isort

Use checkout v4 for Test Installation
  .github/workflows/poetry.yml
Due: none

Don't create an event if we can't timeout
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Fix timeouts not having a datetime attached
  lightning/cogs/ext/antiscam.py
  lightning/cogs/listeners/events.py
  lightning/utils/modlogformats.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Update setuptools
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update more dependencies
  poetry.lock
  pyproject.toml
Due: none

Allow passing an ActionType to InfractionEvent
  lightning/cogs/mod/cog.py
  lightning/events.py
Due: flake8, isort

Update discord.py
  poetry.lock
Due: none

Add overloads for add_timer
  lightning/cogs/reminders/cog.py
Due: flake8, isort

wip
  .github/workflows/tests.yml
  tests/test_arg_limit.py
Due: isort

wip
  tests/test_arg_limit.py
Due: isort

Remove wheel from dependencies
  poetry.lock
  pyproject.toml
Due: none

Sort keys when dumping migratory config
  lightning/cli/migrations.py
Due: flake8, isort

Grab the original exception when running error handlers
  lightning/bot.py
Due: flake8, isort

Add a separate remind set command
  lightning/cogs/reminders/cog.py
  lightning/cogs/reminders/converters.py
Due: flake8, isort

Create test case for psql arg limit
  .github/workflows/tests.yml
  tests/test_arg_limit.py
Due: isort

Split many and single execute
  tests/test_arg_limit.py
Due: isort

Add pytest to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

Run only on push to master branch
  .github/workflows/tests.yml
Due: none

Update some dependencies
  poetry.lock
  pyproject.toml
Due: none

Fix tests failing
  tests/test_arg_limit.py
Due: isort

typing
  lightning/cogs/listeners/state.py
Due: flake8, isort

Add spoke tracking for AutoMod & AntiScam
  lightning/cogs/listeners/tracking.py
  migrations/0020_last_spoke.sql
Due: flake8, isort, Test Migrations

Cache venv for tests
  .github/workflows/tests.yml
Due: none

Additionally calculate the safety score based on the member's first spoke
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Add get_first_spoke method
  lightning/cogs/listeners/tracking.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
