Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Refactor test score breakdown for clarity in anti-scam tests
  tests/test_antiscam.py
Due: isort

Add GitHub Actions workflow to create issues for unresolved Sentry issues
  .github/scripts/sentry_to_github_issues.py
  .github/workflows/sentry-to-issues.yml
Due: isort

Fix failing "sync" job: handle Sentry API 403 gracefully instead of crashing (#276)
  .github/scripts/sentry_to_github_issues.py
Due: isort

Enhance error logging by capturing exception messages for Sentry
  lightning/bot.py
Due: flake8, isort

Remove Gitpod configuration files
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Rewrite onboarding message copy and fix delivery gaps (#278)
  lightning/cogs/info/bot_meta.py
Due: flake8, isort

Add validation for punishment duration limit and fix duration calculation
  lightning/cogs/automod/ui.py
Due: flake8, isort

Refactor Sentry issue handling: consolidate issue retrieval and synchronization logic
  .github/scripts/sentry_to_github_issues.py
Due: isort

Fix automod punishment duration calculation ignoring hours/minutes (#279)
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/ui.py
Due: flake8, isort

Add validation for punishment duration limit in AutoMod
  lightning/cogs/automod/cog.py
Due: flake8, isort

Add option to ignore owner commands in stats all command
  lightning/cogs/stats.py
Due: flake8, isort

Update README for new versioning changes
  README.md
  pyproject.toml
  uv.lock
Due: none

Refactor log_manual_action in AutoMod to streamline parameters
  lightning/cogs/automod/cog.py
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update dependencies in uv.lock
  uv.lock
Due: none

Update log_manual_action call to use Moderation cog directly for handling warn thresholds
  lightning/cogs/automod/cog.py
Due: flake8, isort

Remove rpoll command
  lightning/cogs/utilities.py
Due: flake8, isort

Remove old warn threshold migration logic and related UI components
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/ui.py
  lightning/models.py
Due: flake8, isort

Refactor logging UI components and streamline event handling logic
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Fix formatting display for current log style in LoggingCV2
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Update Ko-fi username in FUNDING.yml
  .github/FUNDING.yml
Due: none

Remove unused generate_message_embed function and clean up imports in modlog
  lightning/cogs/modlog/cog.py
  lightning/cogs/modlog/utils.py
Due: flake8, isort

Update Universal-DB API URL and remove unused mod commands
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Remove unused FAQ_MAPPING and mod_embed function
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Fix webhook cleanup query parameters
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update typer version to 0.27.2
  pyproject.toml
  uv.lock
Due: none

Refactor about command to use new UI components and improve layout
  lightning/cogs/stats.py
Due: flake8, isort

Enhance anti-scam detection logic and add comprehensive unit tests
  lightning/cogs/ext/antiscam.py
  tests/test_antiscam.py
Due: flake8, isort

Enhance automod event handling to include message content and attachments in logs
  lightning/cogs/modlog/cog.py
Due: flake8, isort

Update dependencies
  uv.lock
Due: none

Update links to point to lightningbot.app
  README.md
  lightning/cogs/info/bot_meta.py
  lightning/cogs/modlog/ui.py
  lightning/cogs/stats.py
Due: flake8, isort

Add TODO for migrating user blacklist to database and improve comments
  lightning/bot.py
Due: flake8, isort

Bump version to 4.0.0 in meta.py to reflect versioning changes
  lightning/meta.py
Due: flake8, isort

Remove unused commands and update AutoMod configuration link
  lightning/cogs/info/bot_meta.py
Due: flake8, isort

Update button label for Ko-Fi support link to "Support Lightning"
  lightning/cogs/stats.py
Due: flake8, isort

Add migration to include reported_user_id and view_version in message_reports
  migrations/0021_reportdashboard_v2.sql
Due: Test Migrations

Add reported_user_id to message report payload
  lightning/cogs/reports/cog.py
Due: flake8, isort

Set default value for view_version in message_reports
  migrations/0021_reportdashboard_v2.sql
Due: Test Migrations

Add initial implementation of View Context button
  lightning/cogs/reports/ui.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
