Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Drop all yoyo related tables
  migrations/0001_initial.sql
  migrations/0003_logging.sql
Due: Test Migrations

Prevent links from being embedded
  lightning/bot.py
Due: flake8, isort

Add note to confirmation prompt about massban
  lightning/cogs/mod/cog.py
Due: flake8, isort

Update typer
  poetry.lock
  pyproject.toml
Due: none

Remove guild cli commands
  lightning/cli/guild.py
  lightning/cli/main.py
Due: flake8, isort

Fix FlagCommand.signature
  lightning/flags.py
Due: flake8, isort

Remove automod file parsing
  lightning/utils/automod_parser.py
Due: flake8, isort

Change logging to webhooks
  lightning/models.py
  migrations/0003_logging.sql
Due: flake8, isort, Test Migrations

Add update-copyright CLI command
  lightning/cli/tools.py
Due: flake8, isort

Refactor the configuration cog
  lightning/cogs/config/cog.py
  lightning/cogs/config/converters.py
  lightning/cogs/config/ui.py
Due: flake8, isort

Add missing columns
  migrations/0001_initial.sql
  migrations/0002_temp_mute_role.sql
Due: Test Migrations

Sort child commands
  lightning/cogs/help.py
Due: flake8, isort

Use our own migration system
  .gitignore
  lightning/cli/main.py
  lightning/cli/migrations.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Adjust docker-run command for new migration changes
  lightning/cli/main.py
  lightning/cli/migrations.py
Due: flake8, isort

Add some typehints
  lightning/cooldown.py
  lightning/utils/time.py
Due: flake8, isort

Update Dockerfile for poetry changes
  Dockerfile
Due: none

Add IF EXISTS clause
  migrations/0002_temp_mute_role.sql
Due: Test Migrations

Handle BadLiteralArgument
  lightning/bot.py
Due: flake8, isort

Add incr_amount kwarg to AutoModCooldown
  lightning/cooldown.py
Due: flake8, isort

Update sanctum-tc
  poetry.lock
  pyproject.toml
Due: none

Use Literal instead of convert_to_level
  lightning/cogs/config/cog.py
Due: flake8, isort

Add AutoMod constants
  lightning/constants.py
Due: flake8, isort

Remove deleted IDs from default ignores
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Rework AutoMod to support the new configuration
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Add AutoMod models
  lightning/models.py
Due: flake8, isort

Invalidate AutoMod cache as needed
  lightning/cogs/config/cog.py
Due: flake8, isort

Remove unused converters
  lightning/converters.py
Due: flake8, isort

Add AutoModPunishmentType enum
  lightning/enums.py
Due: flake8, isort

Add `config automod ignored`
  lightning/cogs/config/cog.py
  lightning/cogs/config/ui.py
  lightning/ui.py
Due: flake8, isort

Ignore default pycharm backup folder name
  .gitignore
Due: none

Typehints
  lightning/cogs/listeners/events.py
  lightning/cogs/listeners/modlog.py
  lightning/config.py
  lightning/utils/emitters.py
Due: flake8, isort

Remove ban_list variable
  lightning/cogs/mod/converters.py
Due: flake8, isort

Remove BannedMember converter from converters.py
  lightning/converters.py
Due: flake8, isort

Add missing mute punishment
  lightning/cogs/config/ui.py
Due: flake8, isort

Add automod migration
  migrations/0004_automod.sql
Due: Test Migrations

Remove `emoji list`
  lightning/cogs/emoji.py
Due: flake8, isort

Move BannedMember converter to the Moderation plugin
  lightning/cogs/mod/cog.py
  lightning/cogs/mod/converters.py
Due: flake8, isort

Ignore system content, bots, and members with a higher role from AutoMod
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Remove deleted threads from AutoMod ignores
  lightning/cogs/listeners/automod.py
Due: flake8, isort

Remove `selfrole` alias
  lightning/cogs/roles/cog.py
Due: flake8, isort
