Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Fix headers being passed to tabulate for `stats auditlog`
  lightning/cogs/stats.py
Due: flake8, isort

Update for git provider switch
  lightning/cogs/stats.py
  lightning/config.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Go back to using regex for console versions
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update discord.py
  poetry.lock
Due: none

Fix TypeError when defining webhook
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Use match instead of fullmatch for Discord timestamp parsing
  lightning/utils/time.py
Due: flake8, isort

Change wording of `config prefix` message
  lightning/cogs/config/ui.py
Due: flake8, isort

Add typehint to CacheRegistry.get
  lightning/cache.py
Due: flake8, isort

Make poll a hybrid command
  lightning/cogs/utilities.py
Due: flake8, isort

Pass reason kwarg to AutoMod._kick_punishment
  lightning/cogs/automod/cog.py
Due: flake8, isort

Add message reports
  lightning/cogs/reports/__init__.py
  lightning/cogs/reports/cog.py
  lightning/cogs/reports/ui.py
  migrations/0008_reports.sql
Due: flake8, isort, Test Migrations

Only add column if it doesn't exist
  migrations/0008_reports.sql
Due: Test Migrations

Handle NotFound exception when creating a report
  lightning/cogs/reports/cog.py
Due: flake8, isort

Bump to 4.2.0
  pyproject.toml
Due: none

Update sanctum-tc
  poetry.lock
  pyproject.toml
Due: none

Require manage_guild permissions to set up reports
  lightning/cogs/reports/cog.py
Due: flake8, isort

Add missing message_report_channel_id attribute
  lightning/models.py
Due: flake8, isort

Pass reason to AutoMod._mute_punishment
  lightning/cogs/automod/cog.py
Due: flake8, isort

Remove view when actioned
  lightning/cogs/reports/ui.py
Due: flake8, isort

Add Mute action
  lightning/cogs/reports/ui.py
Due: flake8, isort

Make default_ignores a set for performance
  lightning/cogs/automod/models.py
Due: flake8, isort

Typehint AutoMod.get_automod_config
  lightning/cogs/automod/cog.py
Due: flake8, isort

Handle KeyError exception when removing a key
  lightning/cogs/automod/cog.py
Due: flake8, isort

Add support for DM notifications for actioned reports
  lightning/cogs/reports/ui.py
Due: flake8, isort

Change the button's label depending on whether DM notifications are on or off
  lightning/cogs/reports/ui.py
Due: flake8, isort

Bump rapidfuzz to 3.0.0
  poetry.lock
  pyproject.toml
Due: none

Fix bugs when trying to configure message reports
  lightning/cogs/reports/ui.py
Due: flake8, isort

Missed one critter
  lightning/cogs/reports/ui.py
Due: flake8, isort

Fix TypeError when trying to update components
  lightning/cogs/reports/ui.py
Due: flake8, isort

Uncomment return
  lightning/cogs/reports/ui.py
Due: flake8, isort

Delete all stored reports if the report channel is deleted
  lightning/cogs/reports/cog.py
Due: flake8, isort

Rename AutoMod._temp_mute_user to _time_mute_user
  lightning/cogs/automod/cog.py
Due: flake8, isort

Handle NotFound exception when trying to fetch a deleted message
  lightning/cogs/reports/ui.py
Due: flake8, isort

Support passing datetimes to _time_mute & _time_ban
  lightning/cogs/automod/cog.py
Due: flake8, isort

Add support for passing durations & deleting messages
  lightning/cogs/reports/ui.py
Due: flake8, isort

Use version 15 for docs
  lightning/cogs/api/cog.py
Due: flake8, isort

Require kick_members to use View Infractions
  lightning/cogs/infractions.py
Due: flake8, isort

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
