Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install isort
  - isort --check --diff .

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
  - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
  - pip3 install wheel
  - pip3 install yoyo-migrations psycopg2
  - export PGPASSWORD=$POSTGRES_PASSWORD
  ...

Bump version to 4.8
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Update more dependencies
  poetry.lock
  pyproject.toml
Due: none

Remove `inf export`
  lightning/cogs/infractions/cog.py
Due: flake8, isort

Restrict timers to less than 10 years
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Update sentry-sdk
  lightning/bot.py
  poetry.lock
Due: flake8, isort

Fix poetry errors
  poetry.lock
  pyproject.toml
Due: none

Update to 4.8.1a
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Add Sanitize Member context menu command
  lightning/cogs/mod/cog.py
Due: flake8, isort

Make error message ephemeral
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add experimental AntiScam module
  lightning/cogs/ext/antiscam.py
  migrations/0015_antiscam_experiment.sql
  poetry.lock
  pyproject.toml
Due: flake8, isort, Test Migrations

Only allow antiscam in enabled guilds
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Change masked links regex for anti-scam
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Search for first occurrence of a masked link in a steam scam
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Refactor AntiScamResult
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Use matchers for Steam and OnlyFans scams
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Lessen the timeout period by calculating based on the safety score of the message
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Add spaCy model as a dependency
  poetry.lock
  pyproject.toml
Due: none

Apply a newline if there's an ending (prep for footer)
  lightning/utils/modlogformats.py
Due: flake8, isort

Bump to 4.8.1
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Allow reminders to be used anywhere
  lightning/cogs/reminders/cog.py
  poetry.lock
Due: flake8, isort

Display flags from commands.FlagConverter in the help command
  lightning/cogs/help.py
Due: flake8, isort

Add footer & mod dm settings, change flags to use dpy pos. flag
  lightning/cogs/config/cog.py
  lightning/cogs/config/ui.py
  lightning/cogs/mod/cog.py
  lightning/cogs/mod/flags.py
  lightning/models.py
  migrations/0016_new_mod_command_options.sql
Due: flake8, isort, Test Migrations

Bump version
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Switch over to using discord's built-in polls, rename legacy behavior to `rpoll`
  lightning/cogs/utilities.py
  lightning/context.py
  poetry.lock
Due: flake8, isort

Change restart policy
  docker-compose.yml
Due: none

Override `jsk sync`
  lightning/cogs/owner.py
Due: flake8, isort

Use MISSING for poll kwarg
  lightning/context.py
Due: flake8, isort

Switch to direct queries for `config prefix`
  lightning/cogs/config/ui.py
Due: flake8, isort

Add mention_count property to AntiScamResult
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

;
  lightning/cogs/config/cog.py
Due: flake8, isort

Refactor AntiScam to use a result dataclass and slots
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Add another commonly used emoji for OF detection
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Add regex for masked steam scam links
  lightning/cogs/ext/antiscam.py
Due: flake8, isort

Use Python 3.10 for Docker
  Dockerfile
  docker-compose.yml
Due: none

Update init task for gitpod
  .gitpod.yml
Due: none

Path conditions:
  flake8: any of: lightning/**/*
  isort: any of: **/*.py
  Test Schema Creation: any of: scripts/*.{sql}
  Test Migrations: any of: migrations/*
