Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Update dependencies
  pyproject.toml
  uv.lock
Due: none

Update tomlkit dependency
  pyproject.toml
  uv.lock
Due: none

Add Conversation Context, group infractions if possible, and refactor message content displays
  lightning/cogs/reports/cog.py
  lightning/cogs/reports/ui.py
Due: flake8, isort

Add truncation to Conversation Context
  lightning/cogs/reports/ui.py
Due: flake8, isort

Refactor report display to anonymize message reporters
  lightning/cogs/reports/ui.py
Due: flake8, isort

Rename Anonymous Reporters to Confidential Reporters
  lightning/cogs/reports/ui.py
Due: flake8, isort

Update report confirmation message to ensure confidentiality assurance
  lightning/cogs/reports/cog.py
Due: flake8, isort

Add specialized view to exclude 'Report Message' command from public command stats
  lightning/cogs/reports/cog.py
  lightning/cogs/stats.py
  migrations/0021_reportdashboard_v2.sql
Due: flake8, isort, Test Migrations

Fix error handling in ReportDashboard to ensure message retrieval is robust
  lightning/cogs/reports/ui.py
Due: flake8, isort

Fix SQL query in ReportDashboard to use correct report_message_id
  lightning/cogs/reports/ui.py
Due: flake8, isort

Refactor ActionDashboard to use Discord's Components v2 system
  lightning/cogs/reports/ui.py
Due: flake8, isort

Raise on unavailable cogs; report punishment success to callers
  lightning/cogs/automod/punishments.py
  lightning/cogs/reports/ui.py
Due: flake8, isort

Centralize AutoMod punishments and attribute report actions to the acting moderator (#292)
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/punishments.py
  lightning/cogs/reports/ui.py
  lightning/events.py
Due: flake8, isort

Delete DM message if the punishment failed to go through
  lightning/cogs/reports/ui.py
Due: flake8, isort

Update copyright holder in LICENSE.header to Célveren
  LICENSE.header
Due: none

Update InfractionUpdate renderer to mention moderators in emoji format
  lightning/modlogformats/moderation.py
Due: flake8, isort

Split modlogformats into a package of event-keyed renderers (#293)
  lightning/cogs/emoji.py
  lightning/cogs/infractions/cog.py
  lightning/cogs/infractions/ui.py
  lightning/cogs/mod/cog.py
  lightning/cogs/modlog/cog.py
  lightning/cogs/reports/ui.py
  lightning/cogs/stats.py
  lightning/events.py
  lightning/formatters.py
  lightning/modlogformats/__init__.py
  lightning/modlogformats/base.py
  lightning/modlogformats/commands.py
  lightning/modlogformats/member.py
  lightning/modlogformats/moderation.py
  lightning/utils/modlogformats.py
  tests/test_modlogformats.py
Due: flake8, isort
