Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Remove socket_stats table
  migrations/0012_remove_socket_stats.sql
Due: Test Migrations

Add disabled_cogs to the example config
  example-config.toml
Due: none

Update some dependencies
  poetry.lock
Due: none

Use get_channel_or_thread for fetch_message method
  lightning/cogs/reports/ui.py
Due: flake8, isort

Add timezone support to the duration & add the no action button
  lightning/cogs/reports/ui.py
Due: flake8, isort

Add roles to the description instead of a field
  lightning/cogs/info/discord_meta.py
Due: flake8, isort

Add more guild features
  lightning/cogs/info/discord_meta.py
  lightning/utils/time.py
Due: flake8, isort

Bump dependencies
  poetry.lock
Due: none

Refactor `purge` to be a single command
  lightning/cogs/mod/cog.py
  lightning/cogs/mod/flags.py
Due: flake8, isort

Don't apply the display name as a nick when dehoisting
  lightning/cogs/mod/cog.py
Due: flake8, isort

Remove report dashboards by guild id
  lightning/cogs/reports/cog.py
Due: flake8, isort

Add remove report channel button
  lightning/cogs/reports/ui.py
Due: flake8, isort

Use python 3.9 for docker
  Dockerfile
Due: none

Turn `about` into a hybrid command
  lightning/cogs/stats.py
Due: flake8, isort

Add `faq` command
  lightning/cogs/api/cog.py
Due: flake8, isort

Add quick joins to guild logs
  lightning/cogs/stats.py
Due: flake8, isort

Add the duration to the Report Action Dashboard
  lightning/cogs/reports/ui.py
Due: flake8, isort

Fix guild bot cache not being invalidated when a new prefix is added or removed
  lightning/cogs/config/ui.py
Due: flake8, isort

Update the example config
  example-config.toml
Due: none

Remove legacy ModFlags
  lightning/enums.py
  lightning/models.py
Due: flake8, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
Due: none

Change modlog's setup all events to include future events
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Update documentation url
  lightning/cogs/modlog/ui.py
Due: flake8, isort

Update the infraction's active status when the corresponding timer is complete
  lightning/cogs/infractions/cog.py
Due: flake8, isort

Store the timer's ID only
  lightning/cogs/mod/cog.py
Due: flake8, isort

Require moderate_members for `timemute` & `unmute`
  lightning/cogs/mod/cog.py
Due: flake8, isort

Remove socket stats from `about`
  lightning/cogs/stats.py
Due: flake8, isort

Add basic support for formatting timeouts
  lightning/utils/modlogformats.py
Due: flake8, isort

Add fallback support for timemute
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add timeout events
  lightning/cogs/listeners/events.py
  lightning/cogs/modlog/cog.py
  lightning/enums.py
  lightning/events.py
Due: flake8, isort

Add ignore_modlog_event bot method
  lightning/bot.py
Due: flake8, isort

Ignore timeout event when invoked
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add an internal timer for a timeout
  lightning/cogs/infractions/cog.py
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add formatting for timeout removals
  lightning/utils/modlogformats.py
Due: flake8, isort

Add listener support for timeout removals
  lightning/cogs/modlog/cog.py
  lightning/events.py
Due: flake8, isort

'Refactored by Sourcery'
  lightning/bot.py
  lightning/cogs/modlog/cog.py
  lightning/utils/modlogformats.py
Due: flake8, isort

wip
  lightning/cli/migrations.py
Due: flake8, isort

more wip
  lightning/cli/migrations.py
Due: flake8, isort
