Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  before_script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev cargo git
    - pip install poetry wheel
    - poetry --version
    - poetry config settings.virtualenvs.in-project true
    - poetry install -vv --no-dev
  script:
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Remove Message converter
  lightning/converters.py
Due: flake8, isort

Add some typing to events
  lightning/events.py
Due: flake8, isort

Fix embeds showing 1 of 0 and such
  lightning/cogs/help.py
Due: flake8, isort

Use sanctum for some state methods
  lightning/cogs/listeners/state.py
Due: flake8, isort

Add some typing to modlog cog
  lightning/cogs/listeners/modlog.py
Due: flake8, isort

Refactor API cog
  lightning/cogs/api.py
  lightning/cogs/api/__init__.py
  lightning/cogs/api/cog.py
  lightning/cogs/api/menus.py
  lightning/cogs/api/models.py
Due: flake8, isort

Add `stats recent`
  lightning/cogs/stats.py
Due: flake8, isort

Fix memes for new dpy changes, add some typings
  lightning/cogs/memes.py
Due: flake8, isort

Remove temp mute role, add migration for v4
  lightning/cogs/config/cog.py
  lightning/models.py
  migrations/20220307_01_pfcuE-4-0-0.sql
Due: flake8, isort, Test Migrations

Use discord timestamp markdown for `blacklightning`
  lightning/cogs/api/cog.py
Due: flake8, isort

Add moderate_members to DANGEROUS_PERMISSIONS
  lightning/cogs/roles.py
Due: flake8, isort

Remove SessionMenu
  lightning/utils/paginator.py
Due: flake8, isort

Replace yoyo-migrations with migri
  migrations/0001_initial.sql
  poetry.lock
  pyproject.toml
  resources/v3-migrations/20210128_01_dkC4d-initial.sql
  resources/v3-migrations/20210609_01_YXSjP-3-2-0.sql
  resources/v3-migrations/20210622_01_U0aRl-3-2-0.py
  resources/v3-migrations/20211013_01_343eu-3-3-0.sql
  resources/v3-migrations/20220307_01_pfcuE-4-0-0.sql
Due: isort, Test Migrations

Install wheel before poetry
  .gitlab-ci.yml
Due: none

Fix CI for migration testing
  .gitlab-ci.yml
Due: none

Add db-host flag
  .gitlab-ci.yml
Due: none

Only import LightningContext if type checking
  lightning/cogs/api/cog.py
  lightning/cogs/homebrew/cog.py
  lightning/cogs/info/bot_meta.py
  lightning/cogs/info/discord_meta.py
  lightning/cogs/info/message.py
Due: flake8, isort

Add new poetry test job, adjust migration testing for new changes
  .gitlab-ci.yml
Due: none

Update discord.py
  poetry.lock
Due: none

Improve docker usage
  Dockerfile
  docker-compose.yml
  lightning/cli/main.py
Due: flake8, isort

Remove optional dependency migra
  poetry.lock
  pyproject.toml
Due: none

Fix command to run migri
  .gitlab-ci.yml
Due: none

Use postgres 14, rename venv folder
  docker-compose.yml
Due: none

Update uvloop
  poetry.lock
  pyproject.toml
Due: none

Use sanctum for infractions
  lightning/cogs/infractions.py
  poetry.lock
  pyproject.toml
Due: flake8, isort

Update permissions in the invite
  README.md
Due: none

Update deps
  poetry.lock
Due: none

Remove `lolice` & `awooify`
  lightning/cogs/fun.py
Due: flake8, isort

Clear any existing loggers before setting up logging
  lightning/cli/main.py
Due: flake8, isort

Ignore .idea/
  .gitignore
Due: none

Use jishaku master branch
  poetry.lock
  pyproject.toml
Due: none

Remove GuildID converter
  lightning/converters.py
Due: flake8, isort

Add ? to COMMON_HOIST_CHARACTERS
  lightning/cogs/mod.py
Due: flake8, isort

Remove activities cog
  lightning/cogs/ext/activities.py
Due: flake8, isort

Update discord.py and do some refactoring
  lightning/__init__.py
  lightning/__main__.py
  lightning/bot.py
  lightning/cli/main.py
  lightning/cogs/api/__init__.py
  lightning/cogs/config/__init__.py
  lightning/cogs/emoji.py
  lightning/cogs/ext/git.py
  lightning/cogs/ext/switchy.py
  lightning/cogs/fun.py
  lightning/cogs/help.py
  lightning/cogs/homebrew/__init__.py
  lightning/cogs/info/__init__.py
  lightning/cogs/infractions.py
  lightning/cogs/listeners/automod.py
  lightning/cogs/listeners/events.py
  lightning/cogs/listeners/features.py
  lightning/cogs/listeners/modlog.py
  lightning/cogs/listeners/state.py
  lightning/cogs/memes.py
  lightning/cogs/misc.py
  lightning/cogs/mod.py
  lightning/cogs/owner.py
  lightning/cogs/reminders.py
  lightning/cogs/roles.py
  lightning/cogs/stats.py
  poetry.lock
Due: flake8, isort

Remove unused hooks
  .pre-commit-config.yaml
Due: none

Update deps
  poetry.lock
  pyproject.toml
Due: none
