Repository lightning-bot/Lightning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, isort, Test Schema Creation, Test Migrations

.gitlab-ci.yml:

stages:
  - Static Code Analysis
  - Tests
  - Publish

flake8:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
  - pip install flake8
  - flake8 .
  rules:
    - changes:
      - lightning/**/*

isort:
  stage: Static Code Analysis
  image: python:3.8-buster
  script:
    - pip install isort
    - isort --check --diff .
  rules:
    - changes:
      - "**/*.py"

variables:
  POSTGRES_DB: lightningbot
  POSTGRES_USER: lightningbot
  POSTGRES_PASSWORD: "test"

Test Schema Creation:
  stage: Static Code Analysis
  image: postgres
  services:
  - postgres
  script:
  - export PGPASSWORD=$POSTGRES_PASSWORD
  - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -f scripts/schema.sql
  rules:
    - changes:
      - scripts/*.{sql}

Test Migrations:
  stage: Tests
  image: postgres:12-alpine
  services:
  - postgres:12-alpine
  script:
    - apk add --update python3 py3-pip openssl-dev python3-dev g++ libffi-dev
    - pip3 install wheel
    - pip3 install yoyo-migrations psycopg2
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -v "ON_ERROR_STOP=1" -c "CREATE DATABASE tests;"
    - psql -h "postgres" -U "$POSTGRES_USER" -d "tests" -v "ON_ERROR_STOP=1" -f tests/original_schema.sql
    - yoyo apply --batch --database postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres/tests ./migrations
  rules:
    - changes:
      - migrations/*

Publish release to Sentry:
  stage: Publish
  image: getsentry/sentry-cli
  variables:
    GIT_STRATEGY: "clone"
    GIT_DEPTH: 0
  script:
    - sentry-cli releases new $CI_COMMIT_SHA --project $SENTRY_PROJECT
    - sentry-cli releases set-commits --auto "$CI_COMMIT_SHA"
    - sentry-cli releases finalize $CI_COMMIT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump python requirement to 3.9
  poetry.lock
  pyproject.toml
Due: none

Change description for normalize & use Annotated for target param
  lightning/cogs/mod/cog.py
Due: flake8, isort

Use python 3.9 for poetry workflow
  .github/workflows/poetry.yml
Due: none

Add special functionality for reminders that are too long to be sent
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Fix possible everyone bug
  lightning/cogs/reminders/cog.py
Due: flake8, isort

Fix bug where punishment roles wouldn't be reapplied
  lightning/cogs/mod/cog.py
Due: flake8, isort

Bump to 4.3.1
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Remove unnecessary subtraction
  lightning/cogs/stats.py
Due: flake8, isort

Use choices to add human friendly names to the slash command versions for AutoMod commands
  lightning/cogs/automod/cog.py
  lightning/constants.py
Due: flake8, isort

Fix bug where autoroles wouldn't be applied
  lightning/cogs/config/cog.py
Due: flake8, isort

Fix bug 2 with autoroles
  lightning/cogs/config/cog.py
Due: flake8, isort

Bump to 4.3.2
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Update discord.py
  poetry.lock
Due: none

Allow more control over the mass-mentions rule
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
Due: flake8, isort

Use AutoModDuration converter for interval param
  lightning/cogs/automod/cog.py
Due: flake8, isort

Rename type to rule
  lightning/cogs/automod/cog.py
Due: flake8, isort

Clean up `automod rules add`
  lightning/cogs/automod/cog.py
Due: flake8, isort

Make `source` a hybrid command
  lightning/cogs/info/bot_meta.py
Due: flake8, isort

Bump to 4.4.0
  lightning/meta.py
  pyproject.toml
Due: flake8, isort

Use settings icon for update alerts
  lightning/cogs/homebrew/cog.py
Due: flake8, isort

Update dependencies
  poetry.lock
Due: none

Add support for TargetMember as a transformer
  lightning/converters.py
Due: flake8, isort

Remove `warn punish` commands
  lightning/cogs/mod/cog.py
Due: flake8, isort

Add `automod warnthreshold` commands
  lightning/cogs/automod/cog.py
Due: flake8, isort

Update cache model
  lightning/cogs/automod/models.py
Due: flake8, isort

Add migration file
  migrations/0010_initial_warn_thresholds.sql
Due: Test Migrations

Add a migration command for warn thresholds
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/ui.py
Due: flake8, isort

Change some command logic for the api changes
  lightning/cogs/automod/cog.py
Due: flake8, isort

Move warn threshold listener to AutoMod
  lightning/cogs/automod/cog.py
  lightning/cogs/mod/cog.py
Due: flake8, isort

Only use a single request for AutoMod cache
  lightning/cogs/automod/cog.py
Due: flake8, isort

Remove rules parameter for cache
  lightning/cogs/automod/cog.py
  lightning/cogs/automod/models.py
Due: flake8, isort

Use automod_punishment_enum instead of just text
  migrations/0010_initial_warn_thresholds.sql
Due: Test Migrations

'Refactored by Sourcery'
  lightning/cogs/automod/cog.py
Due: flake8, isort

Refactor AutoMod.can_timeout
  lightning/cogs/automod/cog.py
Due: flake8, isort

Describe target and reason params
  lightning/cogs/mod/cog.py
Due: flake8, isort

Bump guild_bot_config cache to 128
  lightning/bot.py
Due: flake8, isort

Set redis to decode responses
  lightning/cli/main.py
Due: flake8, isort

Add timezone support
  lightning/bot.py
  lightning/cogs/mod/cog.py
  lightning/cogs/reminders/cog.py
  lightning/cogs/reminders/converters.py
  lightning/models.py
  lightning/utils/time.py
  migrations/0011_timezone_support.sql
Due: flake8, isort, Test Migrations
